.events-main-container {
  min-height: 80vh;
  margin-bottom: 50px;
  padding: 10px;
  background-color: rgb(254, 255, 255);
}

.list-main-container {
  width: 70%;
}
.list-main-containers {
  margin-top: 100px;
}

.list-filter-container {
  display: flex;
  margin-bottom: 35px;
  justify-content: center;
  align-items: center;
}

.list-preview-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 285px);
  grid-gap: 26px;
  gap: 26px;
  margin-bottom: 25px;
  width: 70%;
  margin: 0 auto;
  justify-content: center;
}

.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  font-size: 20px;
  font-weight: 800;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  margin: 0 auto;
  width: 50%;
  border-radius: 15px;
  padding: 20px;
  gap:5px;
  .type-filter-container {
    display: flex;
    flex-direction: column;
    & .filter-button {
      border-radius: 15px;
      font-size: 20px;
      height: 33px;
      width: 180px;
      text-align: center;
      // border-color: #22bbff;
      border-width: 1px;
      font-family: serif;
      // margin-left: 10px;
    }
  }
}
.main-list-container {
  margin: 60px;
}

@media screen and (max-width: 780px) {
  .upcoming-container {
    & .InfiniteCarousel {
      width: 129% !important;
      margin: 0 0 0 -35px !important;
    }
    & .InfiniteCarouselArrowNext {
      right: -27px;
    }
    & .InfiniteCarouselArrowPrev {
      left: -28px;
    }
  }

  .InfiniteCarouselArrowNext

  .list-preview-container {
    font-size: 0.8rem;
    width: 76%;
  }

  .events-main-container {
    padding: 0px;
  }

  .upcoming-container .InfiniteCarouselSlide .list-preview-container {
    width: 224.923px;
  }

  .main-list-container {
    margin-top: 100px;
  }

  .filter-container {
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 10px;
    // margin: 10px;
    font-size: 15px;
    border: 0px;
  }


  .events-main-container {
    // background-color: black;
    color: white;
  }
}
