* {
  box-sizing: border-box;
}

::selection {
  background-color: $clr1;
  color: $clr6;
}

html {
  line-height: 1.6;
  color: $clr2;
}

body {
  font-size: rem(18px);
  margin: 0;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  //   line-height: 1;
}

// section, main, footer {
//     padding: 5px;
// }

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  margin: 0 0 1em;
  // max-width: 40ch;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
svg {
  width: 20px;
  height: 20px;
}

.font-style1 {
  font-family: 'PatrickHand-Reg';
}
.font-style2 {
  font-family: 'kalam-reg';
}